* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

/* Global variabel */

:root {
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #ffae00;

    --big-font: 4rem;
    --more-big-font: 7rem;
    --p-font: 1.1rem;
}

body {
    background-color: #000000e6;
    color: var(--text-color);
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;
}

.logo {
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar li::after {
    content: "";
    display: block;
    /* width: 100%; */
    width: 0;
    height: 1px;
    background-color: var(--main-color);
    margin: auto;

    transition: .5s;
}

.navbar li:hover::after {
    width: 100%;
}

.navbar a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0px 20px;
    transition: all ease .50s;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.menu-btn {
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    align-items: center;
    cursor: pointer;

}

#menu-icon {
    font-size: 19px;
    margin-left: 10px;
    z-index: 6;
}

section {
    padding: 0 15%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;
}

.home-img {
    width: 1000px;
    height: 730px;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-text .title {
    padding: 5px 25px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #000;
    border-radius: 100px;
    color: var(--text-color);
    font-size: 15px;
    text-transform: uppercase;
}


.home-text h1 {
    font-size: var(--big-font);
    margin: 23px 0;
}

.home-text p {
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    border-radius: 8px;
    transition: .3s;
    color: var(--text-color);

}

.btn:hover {
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
}

.two {
    background: #141414;
    border: 2ps solid #141414;
    color: var(--text-color);
    margin-left: 25px;
}

.two:hover {
    color: #000;
    background: var(--text-color);
    border: 2px solid var(--text-color);
}

#element {
    color: var(--main-color);
}

.share {
    position: absolute;
    bottom: 3rem;
    left: 15%;
    display: flex;
    align-items: center;
}

.share p {
    color: var(--text-color);
    margin-right: 35px;
    font-size: 17px;
}

.social i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    color: var(--text-color);
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #000;
    border-radius: 50%;
    border: 1px solid #3b3b3b;
    transition: .5s;
}

.social i:hover {
    transform: translateY(-5px);
    border: 1px solid var(--main-color);
}

@media (max-width: 900px){
    header {
        padding: 15px 8%;
        transition: .2s;
    }

    section {
        padding: 0.8% 160px;
        transition: .2s;
    }

    .share {
        left: 8%;
        transition: .2s;
    }
}

@media (max-width: 1370px) {
    header {
        padding: 15px 4%;
        transition: .2s;
    }

    section {
        padding: 0.4% 50px;
        transition: .2s;
    }

    .share {
        left: 4%;
        transition: .2s;
    }

    .home-img img {
        min-width: 350px;
        width: 90%;
        height: auto;
        margin-top: 150px;
    }

    :root {
        --big-font: 5.5rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media (max-width: 950px) {
    .share {
        display: none;
    }

    section {
        padding: 70px 4%;
    }

    header {
        padding: 11px 4%;
        background: #2d2d2d;
    }

    .home {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .home-text {
        order: 2;
    }

    .home-img {
        margin: auto;
        height: auto;
        width: auto;
    }

    .home-img img {
        min-width: 450px;
        width: 100%;
        height: auto;
    }
}

/* for image animation */
.home-img img {
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes imgg {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-22px);
    }

    100% {
        transform: translateY(0);
    }
}